    {include file="common/head"}
<body>
    <!-- 页面顶部 -->
    {include file="common/top"}

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('Index/index')}">系统</a>
                    </li>
                                        <li class="active">用户管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('add')}'"> <i class="fa fa-plus"></i> Add
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center" width="6%">ID</th>
                                <th class="text-center">用户名称</th>
                                <th class="text-center">用户组</th>
                                <th class="text-center">最后登录</th>
                                <th class="text-center">状态</th>
                                <th class="text-center" width="18%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="adminRes" id="admin"}
                              <tr>
                                <td align="center">{$admin.id}</td>
                                <td align="center">{$admin.uname}</td>
                                <td align="center">{$admin.title}</td>
                                <td align="center">{$admin.last_time | date="Y-m-d H:i:s",###}</td>
                                <td align="center">
                                    <label>
                                        <input id="{$admin.id}" onclick="changeStatus(this);" {if condition="$admin['status'] eq 1"} checked="checked" {/if} {if condition="$admin['id'] eq 1"} disabled="" ="disabled" {/if} class="checkbox-slider colored-success" type="checkbox" >
                                        <span class="text" style="cursor:pointer;"></span>
                                    </label>
                                </td>
                                <td align="center">
                                    <a href="{:url('edit',['id'=>$admin['id']])}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>
                                    <a href="#" onClick="warning('确实要删除吗', '{:url('del',['id'=>$admin['id']])}')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
    <script type="text/javascript">
    function changeStatus(o){
                    var id=$(o).attr('id');
                    $.ajax({
                        type:'POST',
                        dataType:'json',
                        data:{id:id},
                        url:"{:url('Admin/changeStatus')}",
                        success:function(data){
                            //alert(data);
                        }
                    });
                }
    </script>


</body></html>