    {include file="common/head"}
<body>
    <!-- 页面顶部 -->
    {include file="common/top"}

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li>
                        <a href="#">广告位管理</a>
                    </li>
                                        <li class="active">编辑广告位</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">编辑广告位</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" id="subForm">
                        <input type="hidden" name="id" value="{$adposs.id}">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">广告位名称</label>
                            <div class="col-sm-6">
                                <input class="form-control"  placeholder="" name="name" required="" type="text" value="{$adposs.name}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">广告位宽度</label>
                            <div class="col-sm-6">
                                <input class="form-control"  placeholder="" name="width" required="" type="text" value="{$adposs.width}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填(单位PX)</p>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">广告位高度</label>
                            <div class="col-sm-6">
                                <input class="form-control"  placeholder="" name="height" required="" type="text" value="{$adposs.height}">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填(单位PX)</p>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" id="submitButton">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
<script type="text/javascript">
$('#submitButton').click(function(){
    var form  =document.getElementById('subForm'),
    formdata =  new FormData(form);
    var url = '{:url("adpos/edit")}';
    $.ajax({
                     url:url,
                     type:'post',
                     data:formdata,
                     dataType:'json',
                     processData:false,
                     contentType:false,
                     success:function (res) {
                        if(res.status=="1"){
                            layer.msg(res.msg, {icon: 1}); 
                            window.location.href='{:url("adpos/lst")}';
                            return false;
                        }else{
                            layer.msg(res.msg, {icon: 2}); 
                            return false;
                        }
                     },
                     error:function () {
                        layer.msg('修改错误！', {icon: 2}); 
                     }
                 })
})
</script>   


</body></html>