    {include file="common/head"}
<body>
    <!-- 页面顶部 -->
    {include file="common/top"}
	
<div class="main-container container-fluid">
	<div class="page-container">
			<!-- Page Sidebar -->
          {include file="common/left"}
         
        <div class="page-content">
                <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{:url('cate/catelist')}">站点管理</a>
                    </li>
                    {volist name="pos" id="cate"}
                     <li><a href="{:url('cate/cateList',(['cid'=>$cate.id]))}">{$cate.cate_name}</a></li>
                    {/volist}
                </ul>
            </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
            <div class="page-body">
                <button type="button" tooltip="添加栏目" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('classify/adds',array('pid'=>$pid))}'">
                <i class="fa fa-plus"></i> 新建栏目
                </button>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="flip-scroll">
                                <form method="post" action="{:url('cate/del_sort')}">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                            <tr pid="0">
                                                <th class="text-center" width="8%">ID</th>
                                                <th class="text-center">标题</th>
                                                <th class="text-center" width="10%">状态</th>
                                                <th class="text-center"  width="4%">排序</th>
                                                <th class="text-center" width="25%">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="list" id="cate"}
                                                <tr>
                                                <td class="text-center">{$cate.id}</td>
                                                <td class="text-center">
                                                <a href="">{$cate.title}</a>
                                                </td>
                                                <td class="text-center"><a cateid="{$cate.id}" onclick="changestatus(this);" {if condition="$cate['status'] eq 1"} class="btn btn-primary btn-sm shiny" {else /}  class="btn btn-danger btn-sm shiny" {/if}>
                                                        {if condition="$cate['status'] eq 1"}显示{else /}隐藏{/if}
                                                    </a></td>
                                                <td align="center">
                                                    <input type="text" name="" value="{$cate.sort}" onblur="save_sort(this,'class',{$cate.id})" url="{:url('content/save_sort')}">
                                                </td>
                                                <td class="text-center"><a href="{:url('edits',array('pid'=>$cate['pid'],'id'=>$cate['id']))}" class="btn btn-primary btn-sm shiny">
                                                        <i class="fa fa-edit"></i> 编辑
                                                    </a>
                                                    <a href="#" onClick="warning('确实要删除吗', '{:url('classify/del',array('id'=>$cate['id'],'pid'=>$cate['pid']))}')" class="btn btn-danger btn-sm shiny">
                                                        <i class="fa fa-trash-o"></i>删除
                                                    </a>

 
                                                    </td>
                                                </tr>
                                            {/volist}
                                            <tr pid="0">
                                            </tr>
                                            </tbody>
                                    </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
            <!-- /Page Content -->
    </div>	
</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
    <script type="text/javascript">
    
    //ajxs异步修改栏目显示状态
    function changestatus(o){
        var cateid=$(o).attr("cateid");
        $.ajax({
            type:"post",
            dataType:"json",
            data:{cateid:cateid},
            url:"{:url('classify/changestatus')}",
            success:function(data){
                if(data==1){
                    $(o).attr("class","tn btn-danger btn-sm shiny");
                    $(o).text('隐藏');
                    $(o).css({"cursor":"pointer"});
                }else{
                    $(o).attr("class","tn btn-primary btn-sm shiny");
                    $(o).text('显示');
                    $(o).css({"cursor":"pointer"});
                }
            }
        });
    }


    </script>



</body></html>