    {include file="common/head"}
<body>
    <!-- 页面顶部 -->
    {include file="common/top"}

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
		   <!-- Page Sidebar -->
            {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('index/index')}">系统</a>
                    </li>
                                        <li>
                        <a href="{:url('Model/lst')}">模型管理</a>
                    </li>
                                        <li class="active">模型添加</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">新增模型</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="form-group">
                            <label for="model_name" class="col-sm-2 control-label no-padding-right">模型名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="model_name" placeholder="" name="model_name" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>

                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">附加表名</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="table_name" placeholder="" name="table_name" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>  
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">开启状态</label>
                            <div class="col-sm-6">
                            <div class="radio" style="float:left; padding-left:10px;">
                                <label>
                                    <input name="status" value="1" checked="checked" class="colored-blue" type="radio">
                                    <span class="text">启用</span>
                                </label>
                            </div>
                            <div class="radio" style="float:left; padding-left:10px;">
                                <label>
                                    <input name="status" value="0" class="colored-blue" type="radio">
                                    <span class="text">禁用</span>
                                </label>
                                </div>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">栏目默认设置</label>
                            <div class="col-sm-6">
                                <div class="checkbox" style="float:left; padding-left:10px;">
                                <label>
                                    <input class="colored-blue"  value="1" name="cate_shows[]" type="checkbox">
                                    <span class="text">seo信息</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="2" name="cate_shows[]" type="checkbox">
                                    <span class="text">栏目内容</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="3" name="cate_shows[]" type="checkbox">
                                    <span class="text">附栏目名称</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="4" name="cate_shows[]" type="checkbox">
                                    <span class="text">栏目图片</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="5" name="cate_shows[]" type="checkbox">
                                    <span class="text">外链地址</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="6" name="cate_shows[]" type="checkbox">
                                    <span class="text">附件上传</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="7" name="cate_shows[]" type="checkbox">
                                    <span class="text">选择模型</span>
                                </label>
                                <label>
                                    <input class="colored-blue"  value="8" name="cate_shows[]" type="checkbox">
                                    <span class="text">选择模版</span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">文章默认设置</label>
                            <div class="col-sm-6">
                                <div class="checkbox" style="float:left; padding-left:10px;">
                                <label>
                                    <input class="colored-blue" value="1" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[1]" value="推荐到首页">
                                    </span>
                                </label>

                                <label>
                                    <input class="colored-blue" value="2" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[2]" value="发布时间">
                                    </span>
                                </label>

                                <label>
                                    <input class="colored-blue" value="3" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[3]" value="关键词">
                                    </span>
                                </label>

                                <label>
                                    <input class="colored-blue" value="4" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[4]" value="描述">
                                    </span>
                                </label>

                                <label>
                                    <input class="colored-blue" value="5" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[5]" value="内容">
                                    </span>
                                </label>

                                <label>
                                    <input class="colored-blue" value="6" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[6]" value="图片">
                                    </span>
                                </label>

                                <label>
                                    <input class="colored-blue" value="7" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[7]" value="发布者">
                                    </span>
                                </label>
                                <label>
                                    <input class="colored-blue" value="8" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[8]" value="链接">
                                    </span>
                                </label>
                                <label>
                                    <input class="colored-blue" value="9" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[9]" value="相关推荐">
                                    </span>
                                </label>
                                <label>
                                    <input class="colored-blue" value="10" name="ad_shows[]" type="checkbox">
                                    <span class="text">
                                    <input type="text" name="name[10]" value="多图">
                                    </span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
    


</body></html>