.topBar .log_link .not_log {
  display: none;
}
.topBar .log_link .loged {
  display: block;
}
.person_center .head {
  width: 100%;
  height: 90px;
  padding: 40px 0;
  background: url(../images/bg2.jpg) center top repeat;
  position: relative;
}
.person_center .head .tx_img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  font-size: 0;
}
.person_center .head .tx_img img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.person_center .head .per_info {
  padding: 5px 20px;
}
.person_center .head .per_info p {
  font-size: 20px;
  line-height: 40px;
  color: #333;
}
.person_center .main {
  margin-top: 30px;
  padding-bottom: 60px;
  /* 我的预约 */
  /* 编辑资料 */
  /*添加房源*/
}
.person_center .main .leftArea {
  width: 246px;
}
.person_center .main .menu_list li {
  border-bottom: 1px solid #eee;
}
.person_center .main .menu_list a {
  display: block;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.person_center .main .rightArea {
  width: 895px;
}
.person_center .main .rightArea .title {
  width: 100%;
  height: 60px;
  position: relative;
}
.person_center .main .rightArea .title h2 {
  float: left;
  position: relative;
  z-index: 11;
}
.person_center .main .rightArea .title h2 a {
  width: 140px;
  font-size: 20px;
  font-weight: normal;
  display: block;
  color: #333;
  line-height: 58px;
  border-bottom: 2px solid #eee;
  text-align: center;
}

.person_center .main .rightArea .title .b_l {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #eee;
  z-index: 1;
}
.person_center .main .rightArea .content {
  margin-top: 30px;
}
.person_center .main .yuyue table {
  width: 100%;
  text-align: center;
  border-color: #eaeaea;
}
.person_center .main .yuyue table th,
.person_center .main .yuyue table td {
  padding: 10px;
  line-height: 26px;
  font-size: 16px;
  color: #333;
}
.person_center .main .base_info .form_box .check_code .sct_ipt,
.person_center .main .add_house .form_box .check_code .sct_ipt {
  width: 140px;
  position: relative;
}
.person_center .main .base_info .form_box .check_code .sct_ipt .ipt,
.person_center .main .add_house .form_box .check_code .sct_ipt .ipt {
  width: 118px;
}
.person_center .main .base_info .form_box .check_code .get_code,
.person_center .main .add_house .form_box .check_code .get_code {
  display: block;
  width: 110px;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}
.person_center .main .add_house {
  padding-bottom: 60px;
}
.person_center .main .add_house .form_box .upload_sct .sct_tit {
  line-height: 36px ;
}
.person_center .main .add_house .form_box .sct .sele_date select,
.person_center .main .add_house .form_box .sct .sele_address select {
  width: 100px;
}
.person_center .main .add_house .form_box .sct .unit_ipt {
  width: auto;
}
.person_center .main .add_house .form_box .sct .unit_ipt .item {
  width: 100px;
  border: 1px solid #efefef;
  position: relative;
  font-size: 0;
  float: left;
  margin-right: 23px;
}
.person_center .main .add_house .form_box .sct .unit_ipt .item .ipt {
  width: 40px;
  border: 0;
  padding: 5px;
}
.person_center .main .add_house .form_box .sct .unit_ipt .item .unit {
  display: inline-block;
  width: 40px;
  text-align: right;
  font-size: 14px;
}
.person_center .main .add_house .form_box .sct .unit_ipt .item .s_unit {
  width: 25px;
  padding: 5px 0;
  text-align: center;
}
.person_center .main .add_house .form_box .sct .radio_box {
  width: 600px;
}
.person_center .main .add_house .form_box .sct .upload_con .t_con span {
  display: block;
  height: 36px;
  line-height: 36px;
  color: #333;
}
.person_center .main .add_house .form_box .sct .upload_con .t_con .upload_btn {
  margin-right: 20px;
  display: block;
  width: 100px;
  background: #f0f0f0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.person_center .main .add_house .form_box .sct .img_list {
  width: 720px;
}
.person_center .main .add_house .form_box .sct .img_list li {
  float: left;
  width: 160px;
  height: 120px;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
}
.person_center .main .add_house .form_box .sct .img_list img {
  display: block;
  width: 100%;
  height: 100%;
}
.cancel-follow{position:absolute;padding:5px 10px;top:0;right:0;border:1px solid #ccc;cursor:pointer;}
.sub-time{position:absolute;padding:5px 10px;top:0;right:0;}
.houseList_wrap .list_con h3{padding-right:100px;}
.J_delete{padding:2px 8px;}
.options{position:absolute;right:0;bottom:0;}
.options a{padding:2px 5px;border:1px solid #6884c3;color:#6884c3;}
.options a.J_delete{border-width:1px;border-style:solid;}
#user-center .list_con .r_con{min-height: 160px;}
.red{color:#ff0000;margin-right:10px;}
.green{color:green;margin-right:10px;}

