@import "color.css";
i{font-style:normal;}
.layui-header{height:50px;}
.kit-theme .layui-layout-admin .layui-logo {
    color: white;
    background-color: #dd4b39;
}
.search-form label, .search-form .layui-input-inline{width:auto;}
.kit-theme .kit-layout-admin .layui-header {
    background-color: white;
    border-bottom: 2px solid #dd4b39;
}

.kit-theme .layui-layout-admin .layui-header .layui-nav {
    color: #EEEEEE;
}

.kit-theme .layui-layout-left .layui-nav-item:hover {
    background-color: white !important;
}

.kit-theme .kit-layout-admin .layui-body {
    top: 52px;
}

.kit-theme .kit-side {
    background-color: white !important;
    box-shadow: 0px 0px 10px 0px #ccc;
    top: 52px;
}

.kit-theme .kit-side .layui-side-scroll .layui-nav-tree {
    background-color: white!important;
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-item {
    background-color: white;
    border-bottom: 1px solid #EEEEEE;
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-item a:hover {
    background-color: white;
    color: #EEEEEE;
}

.kit-theme .kit-side .layui-nav .layui-nav-item a {
    color: #393D49!important;
}

.kit-theme .kit-side .layui-nav .layui-nav-itemed .layui-nav-child {
    background-color: #f8f8f8 !important;
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this,
.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this a,
.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this a:hover {
    background-color: white !important;
    color: #dd4b39 !important;
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd:first-child {
    border-top: 1px solid #EEEEEE;
}

.kit-theme .kit-side .layui-nav-tree .layui-this,
.kit-theme .kit-side .layui-nav-tree .layui-this>a,
.kit-theme .kit-side .layui-nav-tree .layui-this>a:hover {
    background-color: white !important;
    color: #dd4b39 !important;
}

.kit-theme .kit-nav li.layui-this {
    background-color: white !important;
}

.kit-theme .kit-nav li.layui-this a {
    color: #dd4b39 !important;
}

.kit-theme .kit-nav .layui-nav-item a {
    color: #393D49 !important;
}

.kit-theme .kit-nav .layui-nav-item a:hover {
    color: #dd4b39 !important;
}

.kit-theme .kit-side .layui-side-scroll .kit-side-fold {
    color: #dd4b39;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this {
    padding-left: 3px;
    background-color: #dd4b39 !important;
}

.kit-theme .kit-side .layui-nav-tree li.layui-this {
    padding-left: 5px;
    background-color: #dd4b39 !important;
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-bar {
    background-color: #dd4b39 !important;
}

.kit-theme .kit-tab .layui-tab-title li.layui-this {
    color: #dd4b39;
}

.kit-theme .layui-laypage .layui-laypage-curr .layui-laypage-em,
.kit-table .kit-table-header .kit-search-inputs .kit-search-keyword button {
    background-color: #dd4b39;
}

.kit-theme .kit-table .kit-table-header .kit-search-inputs .kit-search-more,
.kit-theme .layui-table-tool .layui-laypage a:hover {
    color: #dd4b39;
}

.kit-theme .layui-nav .layui-nav-more {
    border-top-color: #dd4b39;
}

.kit-theme .kit-nav .layui-nav-mored,
.kit-theme .kit-nav .layui-nav-itemed .layui-nav-more,
.kit-theme .kit-side .layui-nav-mored,
.kit-theme .kit-side .layui-nav-itemed .layui-nav-more {
    border-color: transparent transparent #dd4b39;
}

.w240{width:240px;}

.layui-form-select{width:110px;display:inline-block;}
.kaifazhe-fix-bottom{
    border-top:1px solid #e2e2e2;
    position:fixed;
    bottom:0;
    left:0;
    height:40px;
    line-height: 40px;
    width:95%;
    padding:0 3% 0 2%;
    background-color: #fff;
}
.kaifazhe-list-option{display:inline-block;}
.layui-elem-quote {
    padding: 5px 0 0;
}
.layui-table, .layui-table-view{margin:10px 0 40px 0;}
.layui-table-view .layui-table{width:100%;}
.layui-tab-brief > .layui-tab-title .layui-this,.layui-tab-brief > .layui-tab-title .layui-this a{color:#D32F2F;}

.layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after{border-bottom:2px solid #D32F2F;}
#imageList{
    width: 732px;
    max-height:772px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
#imageList ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
}
#imageList li {
    float: left;
    display: block;
    list-style: none;
    padding: 0;
    width: 113px;
    height: 140px;
    margin: 0 9px 9px 0;
    *margin: 0 6px 6px 0;
    background-color: #eee;
    overflow: hidden;
    position: relative;
}
#imageList li .imgtitletxt{border:1px solid #ccc;width:111px;margin-top: 3px;height: 22px;}
#imageList li.clearFloat {
    float: none;
    clear: both;
    display: block;
    width:0;
    height:0;
    margin: 0;
    padding: 0;
}

#imageList li .delbox{
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000') \0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    height:30px;
}
#imageList li .del{
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icon/icons.png) no-repeat;
    background: url(../images/icon/icons.gif) no-repeat \9;
    margin: 5px 1px 1px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-position: -48px -24px;
}
#imageList li .del:hover{
    background-position: -48px 0;
}
.pagination{display:inline-block;padding-left:0;margin:5px 0 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{background-color:#eee}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#009688;border-color:#009688}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
.list-table .thumb{position:relative;}
.list-table .thumb img{position:absolute;left:20px;z-index:9;}
.layui-table-box, .layui-table-view{overflow: visible;}

.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/msg_bg.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px;}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}
.lt_input_text{height:26px;line-height: 26px;padding:2px 4px;border: 1px solid #A8D0F4;font-family: Verdana, Geneva, sans-serif,"微软雅黑";font-size:12px;}
.tdedit {
    background: rgba(0, 0, 0, 0) url("../images/tdedit.gif") no-repeat scroll right 2px;
    padding-right: 14px;
}
.relative{position:relative;}
.absolute{position:absolute;top:20px;left:0;background-color: #fff;width:33px;text-align:center;z-index:999;}
.absolute li{line-height: 24px;cursor:pointer;}
.layui-center{text-align:center;}
